<div class="users-page-block">
  <div class="wrapper users-page-body">
    <h1 class='big-title'>Users</h1>
    <app-btn (onClickBtn)="clicked()" btnTitle="Cancel"></app-btn>
    <app-btn (onClickBtn)="clicked()" btnTitle="Delete"></app-btn>
    <app-btn (onClickBtn)="clicked()" btnTitle="Edit"></app-btn>
    <app-btn (onClickBtn)="clicked()" btnTitle="Enter"></app-btn>
    <app-btn (onClickBtn)="clicked()" btnTitle="Log Out"></app-btn>
    <app-btn (onClickBtn)="clicked()" btnTitle="Save"></app-btn>
  </div>
</div>